{% extends "auctions/layout.html" %}

{% block title %}
{{ listing.title }}
{% endblock %}

{% block body %}
    {% include 'auctions/components/alert.html' %}
    <div class=" container pt-2 px-md-5">
        <div class="row justify-content-center">
            {% if listing.image %}
                <div class="col">
                    {% if user.is_authenticated %}
                        <form action="{% url 'watchlist' listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge text-bg-secondary fs-5">Add to WatchList</button>
                        </form>
                    {% else %}
                        <span class="badge text-bg-secondary fs-5">Add to WatchList</span>
                    {% endif %}
                    <h2 class="fw-bold fs-1">Listing: {{ listing.title }}</h2>
                    <img src="{{ listing.image }}" alt="{{ listing.title }}_img">
                    <h2 class="fw-bold fs-2">Description:</h2>
                    <p class="fs-5">{{ listing.description }}</p>
                </div>
                <div class="col">
                    {% if listing.current_bid %}
                    <p class="fw-bold fs-2">Current Price: ${{ listing.current_bid }}</p>
                    {% else %}
                    <p class="fw-bold fs-2">Current Price: ${{ listing.starting_bid }}</p>
                    {% endif %}
                    <h2 class="fs-2 fw-bold">Details</h2>
                    <ul class="fs-5">
                        <li>Category: {{ listing.category }}</li>
                        <li>Created: {{ listing.created }}</li>
                        <li>Owner: {{ listing.user }}</li>
                    </ul>
                    <div>
                        <form action="{% url 'bid' listing.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mt-3 mb-2">
                                <label for="amount" class="fs-2 fw-bold">Bid ($)</label>
                                <br>
                                {% if message_success %}
                                    <span class="text-success fw-bold">{{ message_success }}</span>
                                {% endif %}
                                <input type="number" class="form-control fs-4 " id="amount" name="amount" placeholder="$ 00.00" value="{{ form.cleaned_data.amount|default:'' }}">
                                {% for error in form.amount.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                                {% if message %}
                                    <span class="text-danger">{{ message }}</span>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary fs-5">Place Bid</button>
                        </form>
                    </div>
                    <div>
                        {% if user == listing.user%}
                            <form action="{% url 'close_auction' listing.id %}" method="post" class="mt-md-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Close Auction</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-md-6">
                    <form action="{% url 'watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="badge text-bg-secondary fs-5">Add to WatchList</button>
                    </form>
                    <h2 class="fw-bold fs-1">Listing: {{ listing.title }}</h2>
                    <h2 class="fw-bold fs-2">Description:</h2>
                    <p class="fs-5">{{ listing.description }}</p>
                   {% if listing.current_bid %}
                    <p class="fw-bold fs-2">Current Price: ${{ listing.current_bid }}</p>
                    {% else %}
                    <p class="fw-bold fs-2">Current Price: ${{ listing.starting_bid }}</p>
                    {% endif %}
                    <h2 class="fs-2 fw-bold">Details</h2>
                    <ul class="fs-5">
                        <li>Category: {{ listing.category }}</li>
                        <li>Created: {{ listing.created }}</li>
                        <li>Owner: {{ listing.user }}</li>
                    </ul>
                    <form action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group mt-3 mb-2">
                            <label for="amount" class="fs-2 fw-bold">Bid ($)</label>
                            <br>
                            {% if message_success %}
                                <span class="text-success fw-bold">{{ message_success }}</span>
                            {% endif %}
                            <input type="number" class="form-control fs-4 " id="amount" name="amount" placeholder="$ 00.00" value="{{ form.cleaned_data.amount|default:'' }}">
                            {% for error in form.amount.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                            {% if message %}
                                <span class="text-danger">{{ message }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary fs-5">Place Bid</button>
                    </form>
                    <div>
                        {% if user.id == listing.user.id%}
                            <form action="{% url 'close_auction' listing.id %}" method="post" class="mt-md-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Close Auction</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mt-md-3">
            <form action="{% url 'comment' listing.id %}" method="post" class="mb-md-2">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="text-danger fw-bold">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="id_text" class="fs-2 fw-bold">Add a comment:</label>
                    {{ form.text }}
                    {% for error in form.text.errors %}
                        <div class="text-danger fw-bold">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-md-3">Add Comment</button>
            </form>
            <h3 class="fs-2 fw-bold">Comments</h3>
            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">User: {{ comment.user.username }}</h5>
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}