{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="d-flex align-items-center flex-column" >
        {% for auction in listings %}
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded col-md-6" >
                <div class="row g-0">
                    {% if auction.image %}
                      <div class="col-md-4">
                        <img src="{{ auction.image  }}" class="img-fluid rounded-start" alt="{{ auction.title }}_img">
                      </div>
                    {% endif %}
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ auction.title }}</h5>
                            <p> <span class="fs-6 fw-bold">Price:</span> ${{ auction.starting_bid }}</p>
                            <p class="card-text">{{ auction.description }}</p>
                            <p class="card-text"><small class="text-body-secondary">Created {{ auction.created }}</small></p>
                            <a href="{% url 'listing' auction.id %}" class="btn btn-primary col-md-3">View</a>
                        </div>
                    </div>
              </div>
            </div>
        {% endfor %}
    </div>
        <div class="pagination justify-content-center">
        <span class="step-links">
            {% if listings.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ listings.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ listings.number }} of {{ listings.paginator.num_pages }}.
            </span>
            {% if listings.has_next %}
                <a href="?page={{ listings.next_page_number }}">next</a>
                <a href="?page={{ listings.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}