# Archivos y directorios de entorno virtual
env/
venv/

# Archivos de configuración local y secretos
*.env
*.secret
.env.*

# Archivos de caché y compilación
__pycache__/
*.py[cod]
*.so

# Configuración de IDEs
*.vscode/
.idea/
*.swp

# Archivos de log y temporales
*.log
*.sqlite3
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos y carpetas de Git
.git/
.gitignore

# Archivos relacionados con Docker
docker-compose.override.yml
